doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Covid-19
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/highcharts-3d.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    script(src='https://code.highcharts.com/modules/export-data.js')
    script(src='https://code.highcharts.com/modules/accessibility.js')
  body
    .container
      section.content.content__left
        h1.title Covid-19 in Russia
        .data
          .wrapper
            .data__day
            //-Сегодня 09 апреля 2020 г.
            .data__common
              .data__common-title Текущие данные за последний день
              .data__common-info
                .data__common__bottom
                  .data__common_subtitle Заболело
                  .data__common__ill
                .data__common__bottom
                  .data__common_subtitle Умерло
                  .data__common__dead
                .data__common__bottom
                  .data__common_subtitle Выздоровело
                  .data__common__recover
            .data__detailed
              .data__detailed-title Общие данные за весь период
              label.data__row
                input.data__input(type="checkbox")
                .data__button(type="button") Заболело
                .data__display.data__display_ill
              label.data__row
                input.data__input(type="checkbox")
                .data__button(type="button") Умерло
                .data__display.data__display_dead
              label.data__row
                input.data__input(type="checkbox")
                .data__button(type="button") Выздоровело
                .data__display.data__display_recover
      section.content.content__right
        .data.graph
          .wrapper
            //-plugin Highcharts
            figure.highcharts-figure
              #container
              #sliders
                .wrapper.wrapper_sliders
                  p Настройки графика
                  .charts_body
                    .charts_td
                      label(for='alpha') X
                      input.sliders_input#alpha(type='range', min='0', max='45', value='15')
                      span#alpha-value.value
                    .charts_td
                      label(for='beta') Y
                      input.sliders_input#beta(type='range', min='-45', max='45', value='15')
                      span#beta-value.value
                    .charts_td
                      label(for='depth') Z
                      input.sliders_input#depth(type='range', min='20', max='100', value='50')
                      span#depth-value.value
        .data.graph_detailed
          .wrapper
            label.data__row
              input.data__input#allRadio(type="checkbox" name="detailed")
              .data__button.data__button_detailed#all(type="button")
            .graph_detailed-notice Источники инофрмации: 
              a.graph__link(href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports") WHO,
              a.graph__link(href="https://yandex.ru/web-maps/covid19?ll=41.775580%2C54.894027&z=3") Яндекс
            a.signature(href="https://github.com/SDen4") SDen4






//- examle of img plug in
//- img(src='/assets/images/1.jpg', alt='')