doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Covid-19
  body
    .container
      section.content.content__left
        h1.title Covid-19 in Russia
        .data
          .data_wrapper
            .data__day
            .data__common
            .data__detailed
      section.content.content__right
        .graph
          .graph_wrapper
            .graph__info
        .graph__detailed






//- examle of img plug in
//- img(src='/assets/images/1.jpg', alt='')