doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Covid-19
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/highcharts-3d.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    script(src='https://code.highcharts.com/modules/export-data.js')
    script(src='https://code.highcharts.com/modules/accessibility.js')
  body
    .container
      section.content.content__left
        h1.title Covid-19 in Russia
        .data
          .wrapper
            .data__day
            //-Сегодня 09 апреля 2020 г.
            .data__common
              .data__common-title Общие данные за последний день
              .data__common-info
                .data__common__bottom.data__common__ill 100
                .data__common__bottom.data__common__dead 100
                .data__common__bottom.data__common__recover 100
            .data__detailed
              .data__detailed-title Общие данные за весь период
              label.data__row
                input.data__input(type="checkbox")
                .data__button(type="button") Заболело
                .data__display 100
              label.data__row
                input.data__input(type="checkbox")
                .data__button(type="button") Умерло
                .data__display 100
              label.data__row
                input.data__input(type="checkbox")
                .data__button(type="button") Выздоровело
                .data__display 100
              .data__row
      section.content.content__right
        .data.graph
          .wrapper
            //-plugin Highcharts
            figure.highcharts-figure
              #container
              p.highcharts-description Настройки графика
              #sliders
                table
                  tbody
                    tr
                      td
                        label(for='alpha') Alpha Angle
                      td
                        input#alpha(type='range', min='0', max='45', value='15')
                        span#alpha-value.value
                    tr
                      td
                        label(for='beta') Beta Angle
                      td
                        input#beta(type='range', min='-45', max='45', value='15')
                        span#beta-value.value
                    tr
                      td
                        label(for='depth') Depth
                      td
                        input#depth(type='range', min='20', max='100', value='50')
                        span#depth-value.value
        .data.graph_detailed
          .wrapper






//- examle of img plug in
//- img(src='/assets/images/1.jpg', alt='')