doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Covid-19
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/highcharts-3d.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    script(src='https://code.highcharts.com/modules/export-data.js')
    script(src='https://code.highcharts.com/modules/accessibility.js')
  body
    .container
      .qr-code#qr-code
        img(src='/assets/images/qr-code.jpg' alt='qr-code for mobiles')
      section.content.content__left
        .title
          .qr-button#qr-button
            img(src="/assets/images/smartphone.png" alt='pic')
          .data__display-modal.data__display-modal_qr Смотреть на смартфоне
          h1 Covid-19 в России!
        .data
          .wrapper
            #data__day.data__title.data__title-day
            .data__common
              .data__title Текущие данные за последний день
              .data__common-info.data__common-info_up
                .data__line.data__line_up
                  .data__subtitle Заболело
                  .data__display#data__common_ill
                  .data__display#data__persent_ill
                  .data__display-modal Прирост за день
                .data__line.data__line_up
                  .data__subtitle Умерло
                  .data__display#data__common_dead
                  .data__display#data__persent_dead
                  .data__display-modal Прирост за день
                .data__line.data__line_up
                  .data__subtitle Выздоровело
                  .data__display#data__common_recover
                  .data__display#data__persent_recover
                  .data__display-modal Прирост за день
            .data__detailed
              .data__title Общие данные за весь период
              .data__common-info
                .data__line
                  .data__subtitle.data__subtitle_common Заболело
                  .data__display.data__display_ill
                .data__line
                  .data__subtitle.data__subtitle_common Умерло
                  .data__display.data__display_dead
                .data__line
                  .data__subtitle.data__subtitle_common Выздоровело
                  .data__display.data__display_recover
              .data__title Динамика новых случаев и прогнозы
              label.data__row
                input.data__input#allRadio(type="checkbox" name="detailed")
                .data__button#all(type="button")
              label.data__row
                input.data__input#prognosis1Check(type="checkbox" name="detailed")
                .data__button#prognosis1Button(type="button") Прогнозы
              .data__modal
                .data__modal-row
                  span.data_prognosis Прогноз 1. Татьяна Голикова (вице-премьер)
                  a.data_prognosis(href="https://tass.ru/obschestvo/8231339" target="_blank") Источник
                .data__modal-row
                  span.data_prognosis Прогноз 2. Анна Попова (глава РосПотребНадзора)
                  a.data_prognosis(href="https://ria.ru/20200413/1569983282.html" target="_blank") Источник
                .data__modal-row
                  span.data_prognosis Прогноз 3. Автор сайта
                  a.data_prognosis(href="prognosisAuthor.html" target="_blank") Подробности
      section.content.content__right
        .data.graph
          .wrapper.wrapper_graph
            //-plugin Highcharts
            figure.highcharts-figure
              #container
              .graph_detailed-up Чтобы изменить масштаб выделите на графике мышкой интересуемый диапазон
        .data.graph_detailed
          .wrapper.wrapper_graph
            .graph_detailed-up
              p Внимание! У автора сайта нет цели распространения недостоверной информации! Здесь представлена статистика заболеваемости короновирусом COVID-19, публикуемая в официальных источниках, а также прогнозы развития заболеваемости. Прогнозы не влияют на реальное раcпространение инфекции и не претентедуют на то, что именно по такому сценарию будет развиваться эпидемия!
            .graph_detailed-bottom
              .graph_detailed-notice Источники информации: 
                a.graph__link(href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports") WHO,
                a.graph__link(href="https://yandex.ru/web-maps/covid19?ll=41.775580%2C54.894027&z=3") Яндекс
              .graph_detailed-notice Разработано: 
                a.signature(href="https://github.com/SDen4") SDen4
