<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Covid-19 в России
    body
        .container.container_author
            .wrapper.wrapper_author
                h1.author__title Прогоноз автора
                h2.author__subtitle Итальянский сценарий развития событи
                .author__text
                    p Сопоставив данные о заболевших в России и Италии, было выявлено, что данные в России с 12 по 16 апреля 2020 г. совпадают с данными в Италии в период с 12 по 16 марта 2020 г. с отклонением от -1.04% до 4.35%. В течение трех дней с 14 по 16 апреля 2020 г. в России и с 14 по 16 марта 2020 г. в Италии соответственно диапазон отлонений составил от -1.04% до -0.15%. Исходя из этого, составлен прогноз сценария дальнейшего распространения числа зараженных вирусом COVID-19 согласно статистике зараженных в Италии
                .author__photos
                    img.author__img(src="/assets/images/1.jpg", alt='график')
                    img.author__imgs(src="/assets/images/2.jpg", alt='таблица значений')
                h2.author__subtitle Еще больше прогнозов:
                    ul.author__list
                        li.author__item
                            a.author__link(target="_blank" href="https://ria.ru/20200421/1570355893.html?utm_source=yxnews&utm_medium=desktop&utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews") Прогноз от Сбербанка
                        li.author__item
                            a.author__link(target="_blank" href="https://regnum.ru/news/2932471.html?utm_source=yxnews&utm_medium=desktop&utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews") Прогноз сингапурского Университета технологий и дизайна (SUTD)
