* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: $mainColor;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
  width: 98%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  @include tablet {
    width: 98%;
  }
}

.content__left {
  width: 39%;
}

.content__right {
  width: 59%;
}

.title {
  width: 100%;
  height: 32px;
  text-align: center;
  border-radius: $borderRadius;
  background-color: $mainBGColor;
}

button {
  border: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}