.data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainBGColor;
    border-radius: $borderRadius;
    width: 100%;
    height: 94%;
    @include tablet {
        height: 91%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 92%;
    height: 94%;
}

.data__day, .data__detailed-title {
    width: 100%;
    padding: 3px 10px;
    background-color: $red;
    border-radius: $borderRadius;
}

.data__common {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: $red;
    border-radius: $borderRadius;
}

.data__common-title {
    width: 92%;
    margin:10px 0 10px 10px;
}

.data__common-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    @include desktop {
        flex-direction: column;
    }
}

.data__common__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 32%;
    border: 1px solid $mainColor;
    border-radius: $borderRadius;
    @include desktop {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
        width: 96%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.data__common_subtitle {
    @include desktop {
        min-width: 110px;
        margin: 0 5%;
    }
}

.data__detailed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 75%;
    @include desktop {
        height: 65%;
    }
    @include tablet {
        height: 42%;
    }
}

.data__detailed-title {
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 5px;
    }
}

.data__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.data__input:checked+.data__button{
    background-color: $buttonActive;
}

.data__input {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.data__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
    height: 100%;
    background-color: $red;
    border-radius: $borderRadius;
    color: $mainColor;
    font-size: 16px;
    outline: none;
    transition: .3s;
    cursor: pointer;
    &:hover {
        background-color: $buttonHover;
    }
}

.data__button_detailed {
    position: relative;
    width: 69%;
    transition: .5s;
    &:hover .data__modal {
        display: flex;
        flex-direction: column;
    }
    @include smartphone {
        width: 50%;
    }
}

.data__display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    height: 100%;
    background-color: $red;
    border-radius: $borderRadius;
}

.data__modal {
    display: none;
    width: 270px;
    height: 50px;
    position: absolute;
    top: 46px;
    left: 90px;
    background-color: $mainColor;
    color: $red;
    text-align: center;
    border-radius: $borderRadius;
    &:after {
        content: "";
        display: block;
        width: inherit;
        height: 10px;
        position: absolute;
        top: -7px;
        left: 0;
        background-color: transparent;
    }
    &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        position: absolute;
        top: -4px;
        left: 10px;
        background-color: inherit;
    }
}