.data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainBGColor;
    border-radius: $borderRadius;
    width: 100%;
    height: 95%;
    @include tablet {
        height: 94%;
    }
}

.data__detailed-title {
    width: 100%;
    padding: 3px 10px;
    border-radius: $borderRadius;
    margin-bottom: 20px;
    font-weight: bold;
    @include tablet {
        margin-bottom: 5px;
    }
}

.data__detailed-title-day {
    margin-bottom: 0;
}

.data__common {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-radius: $borderRadius;
    font-weight: bold;
}

.data__common-title {
    width: 92%;
    margin:0 0 20px 10px;
}

.data__common-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    @include desktop {
        flex-direction: column;
    }
}

.data__common__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 33%;
    border: 1px solid $red;
    border-radius: $borderRadius;
    @include desktop {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
        width: 96%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.data__common_subtitle {
    @include desktop {
        min-width: 110px;
        margin: 0 5%;
    }
}

.data__detailed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 72%;
    @include desktop {
        height: 68%;
    }
    @include laptop {
        height: 72%;
    }
    @include tablet {
        height: 63%;
    }
}

.data__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    @include desktop {
        margin-bottom: 10px;
    }
    @include laptop {
        margin-bottom: 5px;
    }
    @include tablet {
        margin-bottom: 5px;
    }
}

.data__row_common {
    border: 1px solid $red;
    border-radius: $borderRadius;
}

.data__input:checked+.data__button{
    background-color: $buttonActive;
}

.data__input {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background-color: transparent;
}

.data__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    width: 69%;
    height: 100%;
    border-radius: $borderRadius;
    font-size: 16px;
    font-weight: bold;
}

.data__button_detailed {
    justify-content: center;
    background-color: $red;
    color: $mainColor;
    width: 69%;
    margin-left: 0;
    cursor: pointer;
    outline: none;
    transition: .5s;
    &:hover {
        background-color: $buttonHover;
    }
    @include desktop {
        width: 100%;
    }
    @include smartphone {
        width: 50%;
    }
}

.data__display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 26%;
    height: 100%;
    border-radius: $borderRadius;
    font-weight: bold;
}

.data__modal {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: $mainColor;
}

.data__modal-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: $borderRadius;
    background-color: $red;
    margin-bottom: 10px;
    @include desktop{
        margin-bottom: 5px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.data_prognosis {
    padding: 5px 5px;
    transition: .3s;
    @include desktop{
        padding: 3px 5px;
    }
}

a.data_prognosis {
    width: fit-content;
    &:hover {
        color:$buttonActive;
    }
}