.graph {
    height: 74%;
}

.graph_detailed {
    height: 24%;
}

#container {
    height: 500px;
    margin-bottom: 40px;
    border-radius: $borderRadius;
}

#sliders td input[type=range] {
    display: inline;
}

.highcharts-description {
    margin-bottom: 10px;
}

.charts_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.charts_td {
    display: flex;
    justify-content: space-around;
    width: 32%;
    border: 1px solid $mainColor;
    border-radius: $borderRadius;
}