.graph {
    height: 83%;

    @include laptop {
        height: 81%;
    }

    @include tablet {
        height: 77%;
    }

    @include smartphone {
        height: 72.5%;
    }

    @include smartphoneGrz {
        height: 76%;
    }
}

.graph_detailed {
    height: 16%;

    @include laptop {
        height: 18%;
    }

    @include tablet {
        height: 22%;
    }

    @include smartphone {
        height: 27%;
    }

    @include smartphoneGrz {
        height: 23%;
    }
}

.highcharts-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

#container {
    height: 95%;
    border-radius: $borderRadius;

    @include laptop {
        @include smartphoneGrz {
            height: 100%;
        }
    }

    @include tablet {
        height: 100%;
    }
}

.graph_detailed-up {
    color: $red;
    font-weight: bold;
    text-align: center;

    @include desktop {
        font-size: 14px;
    }

    @include smartphoneGrz {
        font-size: 12px;
    }
}

.graph_detailed-up_scale {
    @include laptop {
        @include smartphoneGrz {
            display: none;
        }
    }

    @include tablet {
        display: none;
    }
}

.graph_detailed-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include tablet {
        font-size: 14px;
    }

    @include smartphone {
        flex-direction: column;
    }
}

.graph_detailed-notice {
    display: flex;

    @include smartphone {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.graph__link {
    margin: 0 5px;
}

.signature {
    font-size: 16px;
    color: $red;
    text-decoration: none;
    margin-left: 10px;

    @include smartphone {
        margin-left: 5px;
    }
}