.graph {
    height: 83%;
    @include tablet {
        height: 84%;
    }
}

.graph_detailed {
    height: 16%;
    @include tablet {
        height: 15%;
    }
}

.highcharts-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

#container {
    height: 83%;
    border-radius: $borderRadius;
    @include tablet {
        margin-bottom: 10px;
    }
}

#sliders td input[type=range] {
    display: inline;
}

#sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    border-radius: $borderRadius;
    height: 10%;
}

.sliders_input {
    width: 73%;
    @include smartphone {
        width: 59%;
    }
}

.charts_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.charts_td {
    display: flex;
    justify-content: space-around;
    width: 32%;
    border: 1px solid $mainColor;
    border-radius: $borderRadius;
    flex-wrap: wrap;
}

.graph_detailed-up {
    color: $red;
    font-weight: bold;
    text-align: center;
}

.graph_detailed-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph_detailed-notice {
    display: flex;
}

.graph__link {
    margin: 0 5px;
}

.signature {
    font-size: 16px;
    color: $red;
    text-decoration: none;
    margin-left: 10px;
}