.author__title {
    margin-bottom: 2%;
}

.author__subtitle {
    margin-bottom: 4%;
}

.author__text {
    margin-bottom: 6%;
}

.author__photos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
    @include tablet {
        flex-direction: column;
    }
}

.author__list {
    display: flex;
    flex-direction: column;
}

.author__item {
    margin-left: 2%;
}

.author__link {
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
    &:hover {
        color: $buttonHover;
    }
}